<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="support.RetryListenerClass"/>
    </listeners>
    <test name="CarRegCheck">
        <classes>
            <class name="automationModules.CarCheckTest">
                <methods>
                    <include name="carCheck"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
